<singn-view>

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sing In</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user">Name:</label>
                        <input type="text" class="form-control" id="user">
                    </div>
                    <div class="form-group">
                        <label for="pasword">Password:</label>
                        <input type="password" class="form-control" id="pasword">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" can-click="enter">Enter</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</singn-view>